body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.title {
    font-family: 'Pacifico', cursive;
}

.text-html {
    color: #E34C26;
}

.text-css {
    color: #3C99DC;
}

.text-javascript {
    color: #F9C74F;
}

.text-php {
    color: #474A8A;
}

.bg-html {
    color: white;
    background-color: #E34C26;
}

.bg-html:hover {
    color: #E34C26;
    background-color: white;
    border-color: #E34C26;
}

.bg-css {
    color: white;
    background-color: #3C99DC;
}

.bg-css:hover {
    color: #3C99DC;
    background-color: white;
    border-color: #3C99DC;
}

.bg-javascript {
    color: #323330;
    background-color: #F9C74F;
}

.bg-javascript:hover {
    color: #F9C74F;
    background-color: white;
    border-color: #F9C74F;
}

.bg-php {
    color: white;
    background-color: #474A8A;
}

.bg-php:hover {
    color: #474A8A;
    background-color: white;
    border-color: #474A8A;
}

.card-title {
    border-bottom: 1px dotted #e44d26;
    cursor: pointer;
}